* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --red: #a41212;
    --lightred: #b31515;

    --green: #6BBAA3;
    --lightgreen:#6cc3ac; 

    --blue: #1232A4;
    --lightblue: #1a45a8;
}

body {
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 10px;
}

hr {
    border: none;
    height: 1px;
    background: #ccc;
    margin: 5px 0;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    justify-content: space-between;
}

nav .button-row {
    display: flex;
    gap: 10px;
}

#notification-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
}

@keyframes slide-in {
    from { right: -100%; }
    to { right: 0; }
}
@keyframes slide-out {
    from { right: 0; }
    to { right: -100%; }
}
.notification {
    position: relative;
    right: -100%;
    animation: slide-in 0.2s forwards;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid;
    background-color: white;
    padding: .5em;
    margin: 5px;
    transition: right 0.2s ease;
}

.search-container {
    display: flex;
    flex-wrap: wrap-reverse;
    row-gap: 5px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;;
}
.search-wrapper {
    display: flex;
}

.center-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.center {
    margin: auto;
}

.longform {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
    max-width: fit-content;
}

.longform button {
    margin-top: 20px;
    width: 100%;
    padding: .8em;
}

.longform input {
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
}
.row-spread {
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
}

.indented {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.btn {
    font-family: inherit;
    border: none;
    background: var(--blue);
    border-radius: 4px;
    font-size: 100%;
    font-weight: bold;
    color: #eee;
    padding: .5em 1.5em;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s ease;
}
.btn:hover {
    background-color: var(--lightblue);
    color: #eee;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 255, 0.25);
}

.btn:disabled,
.btn.disabled {
    opacity: 0.8;
    cursor: not-allowed;
    pointer-events: none;
}

.basketbuttons {
    width: 100%;
    margin-top: auto;
    display: flex;
}
.basketbuttons .btn {
    width: 100%;
}

.btn-decrementbasket {
    background-color: var(--red);
    flex: 0;
    border-radius: 0;
}
.btn-decrementbasket:hover { background-color: var(--lightred); }
.btn-decrementbasket:before { content: "-"; }

.btn-incrementbasket {
    background-color: var(--green);
    flex: 0;
    border-radius: 0;
}
.btn-incrementbasket:hover { background-color: var(--lightgreen); }
.btn-incrementbasket:before { content: "+"; }

.btn-green {
    background-color: var(--green);
}
.btn-green:hover {
    box-shadow: 0px 1px 10px 0px rgba(0, 255, 0, 0.25);
    background-color: var(--lightgreen);
}

.btn-secondary {
    background: none;
    border: 4px solid var(--blue);
    color: #222;

}

input {
    font-family: inherit;
    padding: .5em;
    font-size: 100%;
    border: 1px solid var(--blue);
    border-radius: 2px;
    transition: border-color 0.2s ease;
}
input:focus {
    outline: 1px solid var(--blue);
}

input.twodigit {
    max-width: 4ch;
}
input.fourdigit {
    max-width: 6ch;
}

.good {
    border-color: var(--green);
}
input.good:focus {
    outline-color: var(--green);
}
.bad {
    border-color: var(--red);
}
input.bad:focus {
    outline-color: var(--red);
}

.errormsg {
    color: var(--red);
}

input.search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 300px;
}
button.search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.centered-column {
    display: flex;
    flex-direction: column;
}

.result-wrapper {
    --result-width: 280px;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--result-width));
    gap: 20px;
    justify-content: center;
}
.result {
    overflow: hidden;
    width: var(--result-width);
    height: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.result .row {
    justify-content: space-between;
}
.result .image-container {
    overflow: hidden;
}
.result .result-img {
    object-fit: cover;
    width: 100%;
}

.result .text-container {
    padding: 10px 5px;
}

.result .btn-addtobasket,
.result .btn-removefrombasket {
    border-radius: 0;
}

.result .item-name {
    font-size: 100%;
    color: inherit;
}
.result .item-name a {
    text-decoration: none;
    color: inherit;
}
.result .item-name:hover {
    text-decoration: underline 3px;
}
.result .item-description {
    margin: 5px 0;
}

.item-info {
    padding: 20px;
}
.item-info .item-header {
    gap: 20px;
    margin: 40px 0;
    flex-wrap: wrap;
}
.item-info .item-header .column {
    gap: 10px;
}
.item-info .item-img {
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.item-info .btn-addtobasket,
.item-info .btn-removefrombasket {
    max-width: 200px;
}

.checkout {
    display: flex;
}

.checkout .summary-wrapper {
    flex-basis: 25%;
    min-width: fit-content;
    margin: 0 20px;
}

.checkout .summary {
    border: 1px solid #eee;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.checkout .summary h2 {
    font-size: 100%;
}

.checkout .result-wrapper {
    flex: 1;
}

.checkout .summary-item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 5px 0;
}

.checkout .btn-pay {
    margin-top: 10px;
    width: 100%;
}

.expiry-date {
    gap: 10px;
}

@media (max-width: 900px) {
    .checkout {
        flex-direction: column;
    }
    .checkout .summary-wrapper {
        max-width: 600px;
        width: 100%;
        margin: 20px auto;
    }
    .checkout .result-wrapper {
        order: 2;
    }
}
