{% extends "base.html" %}

{% block body %}

{% block notifications %}{{super()}}{% endblock %}

<div class="center-wrapper">
    {% block nav %}
    {% block basket %}{% endblock %}
    {{ super() }}
    {% endblock %}

    {% block main %}

    <main class="">
        <h1>Checkout</h1>
            <div class="checkout">
                <div class="result-wrapper">
                    {% for product in basket %} 
                        <div tabindex="1" role="group" class="result">
                            <a tabindex="-1" href='{{ url_for("main.product", productid=product.id) }}' class="image-container">
                                <img class="result-img"
                                     src='{{ url_for("static", filename="img/" + product.image) }}'
                                                               alt="">
                            </a>

                            <div class="text-container">
                                <div class="row">
                                    <h6 class="item-name"><a tabindex="3" href='{{ url_for("main.product", productid=product.id) }}'>{{ product.name }}</a></h6>
                                    <p class="item-price">£{{ product.price }} ({{ product.emissions }} kg/mi)</p>
                                </div>

                                <p class="item-description">{{ product.short_desc }}</p>
                            </div>

                            <div class="basketbuttons">
                                {% if product.id|string in session.get("basket", ()) %}
                                    <button onclick="decrementBasket(event, {{ product.id }})" tabindex="2" class="btn btn-decrementbasket"></button>
                                    <button onclick="addToBasket(event, {{ product.id }})" tabindex="2" class="btn btn-addtobasket">{{ session["basket"][product.id|string] }} in basket</button>
                                    <button onclick="incrementBasket(event, {{ product.id }})" tabindex="2" class="btn btn-incrementbasket"></button>
                                {% else %}
                                    <button onclick="addToBasket(event, {{ product.id }})" tabindex="2" class="btn btn-addtobasket">Add to basket</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
            </div>

            <aside class="summary-wrapper">
                <div class="summary">
                    <h2>Summary</h2>
                    <div class="summary-item">
                        <div>24 Items</div>
                        <div>£2,300</div>
                    </div>
                    <div class="summary-item">
                        <div>Admin Fee</div>
                        <div>£100</div>
                    </div>
                    <hr>
                    <h3>Total: £2,400</h3>
                    <button class="btn btn-green btn-pay">Pay</button>
                </div>
            </aside>
        </div>
    </main>

    {% endblock %}
</div>
 
{% endblock %}
    </main>
</body>

</html>
