<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TractorKingdom</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <h1 class="logo">Shopping Site</h1>

        <div class="button-row">
            <a tabindex="0" class="basket btn btn-green">£24.93</a>
            <a tabindex="0" class="btn">Sign Up</a>
            <a tabindex="0" class="btn btn-secondary">Log In</a>
        </div>
    </nav>

    <main>
        <div class="indented">
            
            <h1>Checkout</h1>
            
            <div class="checkout">
                <div class="result-wrapper">
                    <div tabindex="1" role="group" class="result">
                        <a tabindex="-1" href="#" class="image-container">
                            <img class="result-img"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Massey_Ferguson_175_red_tractor_September_2005.jpg/1200px-Massey_Ferguson_175_red_tractor_September_2005.jpg"
                                alt="">
                        </a>
                        <div class="text-container">
                            <div class="row">
                                <h6 class="item-name"><a tabindex="3" href="">Red tractor</a></h6>
                                <p class="item-price">£2,400 (2.2kg/mi)</p>
                            </div>

                            <p class="item-description">A stylish addition to your colleciton. It will break down
                                immediately.</p>

                        </div>
                        <button tabindex="2" class="btn btn-addtobasket">Add to basket</button>
                    </div>
                    <div tabindex="1" role="group" class="result">
                        <a tabindex="-1" href="#" class="image-container">
                            <img class="result-img"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Massey_Ferguson_175_red_tractor_September_2005.jpg/1200px-Massey_Ferguson_175_red_tractor_September_2005.jpg"
                                alt="">
                        </a>
                        <div class="text-container">
                            <div class="row">
                                <h6 class="item-name"><a tabindex="3" href="">Red tractor</a></h6>
                                <p class="item-price">£2,400 (2.2kg/mi)</p>
                            </div>

                            <p class="item-description">A stylish addition to your colleciton. It will break down
                                immediately.</p>

                        </div>
                        <button tabindex="2" class="btn btn-addtobasket">Add to basket</button>
                    </div>
                    <div tabindex="1" role="group" class="result">
                        <a tabindex="-1" href="#" class="image-container">
                            <img class="result-img"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Massey_Ferguson_175_red_tractor_September_2005.jpg/1200px-Massey_Ferguson_175_red_tractor_September_2005.jpg"
                                alt="">
                        </a>
                        <div class="text-container">
                            <div class="row">
                                <h6 class="item-name"><a tabindex="3" href="">Red tractor</a></h6>
                                <p class="item-price">£2,400 (2.2kg/mi)</p>
                            </div>

                            <p class="item-description">A stylish addition to your colleciton. It will break down
                                immediately.</p>

                        </div>
                        <button tabindex="2" class="btn btn-addtobasket">Add to basket</button>
                    </div>
                    <div tabindex="1" role="group" class="result">
                        <a tabindex="-1" href="#" class="image-container">
                            <img class="result-img"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Massey_Ferguson_175_red_tractor_September_2005.jpg/1200px-Massey_Ferguson_175_red_tractor_September_2005.jpg"
                                alt="">
                        </a>
                        <div class="text-container">
                            <div class="row">
                                <h6 class="item-name"><a tabindex="3" href="">Red tractor</a></h6>
                                <p class="item-price">£2,400 (2.2kg/mi)</p>
                            </div>

                            <p class="item-description">A stylish addition to your colleciton. It will break down
                                immediately.</p>

                        </div>
                        <button tabindex="2" class="btn btn-addtobasket">Add to basket</button>
                    </div>
                    <div tabindex="1" role="group" class="result">
                        <a tabindex="-1" href="#" class="image-container">
                            <img class="result-img"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Massey_Ferguson_175_red_tractor_September_2005.jpg/1200px-Massey_Ferguson_175_red_tractor_September_2005.jpg"
                                alt="">
                        </a>
                        <div class="text-container">
                            <div class="row">
                                <h6 class="item-name"><a tabindex="3" href="">Red tractor</a></h6>
                                <p class="item-price">£2,400 (2.2kg/mi)</p>
                            </div>

                            <p class="item-description">A stylish addition to your colleciton. It will break down
                                immediately.</p>

                        </div>
                        <button tabindex="2" class="btn btn-addtobasket">Add to basket</button>
                    </div>
                    <div tabindex="1" role="group" class="result">
                        <a tabindex="-1" href="#" class="image-container">
                            <img class="result-img"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Massey_Ferguson_175_red_tractor_September_2005.jpg/1200px-Massey_Ferguson_175_red_tractor_September_2005.jpg"
                                alt="">
                        </a>
                        <div class="text-container">
                            <div class="row">
                                <h6 class="item-name"><a tabindex="3" href="">Red tractor</a></h6>
                                <p class="item-price">£2,400 (2.2kg/mi)</p>
                            </div>

                            <p class="item-description">A stylish addition to your colleciton. It will break down
                                immediately.</p>

                        </div>
                        <button tabindex="2" class="btn btn-addtobasket">Add to basket</button>
                    </div>
                    <div tabindex="1" role="group" class="result">
                        <a tabindex="-1" href="#" class="image-container">
                            <img class="result-img"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Massey_Ferguson_175_red_tractor_September_2005.jpg/1200px-Massey_Ferguson_175_red_tractor_September_2005.jpg"
                                alt="">
                        </a>
                        <div class="text-container">
                            <div class="row">
                                <h6 class="item-name"><a tabindex="3" href="">Red tractor</a></h6>
                                <p class="item-price">£2,400 (2.2kg/mi)</p>
                            </div>

                            <p class="item-description">A stylish addition to your colleciton. It will break down
                                immediately.</p>

                        </div>
                        <button tabindex="2" class="btn btn-addtobasket">Add to basket</button>
                    </div>
                    
                </div>

                <aside class="summary-wrapper">
                    <div class="summary">
                        <h2>Summary</h2>
                        <div class="summary-item">
                            <div>24 Items</div>
                            <div>£2,300</div>
                        </div>
                        <div class="summary-item">
                            <div>Admin Fee</div>
                            <div>£100</div>
                        </div>
                        <hr>
                        <h3>Total: £2,400</h3>
                        <button class="btn btn-green btn-pay">Pay</button>
                    </div>
                </aside>
            </div>

        </div>
    </main>
</body>

</html>
