{% extends "base.html" %}
{% block main %}
<main>
    {% if current_user.is_authenticated %}
        <h1>{{ current_user.username }}</h1>
    {% endif %}
    <div class="indented">
        <div class="search-container">
            <form class="" action="">
                <div class="search-wrapper">
                    <input value="{{ search }}" type="text" name="search" id="searchInput" class="search">
                    <button class="btn search">Search</button>
                </div>

                <div class="row row-spread">
                    <p>Showing <span id="result-count"></span> results</p>
                    <div>
                        <label for="sortBy">Sort</label>
                        <select name="sortBy" id="sortBy">
                            {% for value, (name, _) in sorts %}
                                <option {{ "selected" if selected == value else "" }}  value="{{ value }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>

        </div>
        <div class="result-wrapper" id="result-wrapper">
            {% for product in products %}
                <div tabindex="1" role="group" class="result">
                    <a tabindex="-1" href='{{ url_for("main.product", productid=product.id) }}' class="image-container">
                        <img class="result-img"
                        src='{{ url_for("static", filename="img/" + product.image) }}'
                        alt="">
                    </a>
                    <div class="text-container">
                        <div class="row">
                            <h6 class="item-name"><a tabindex="3" href='{{ url_for("main.product", productid=product.id) }}'>{{ product.name }}</a></h6>
                            <p class="item-price">£{{ product.price }} ({{ product.emissions }} kg/mi)</p>
                        </div>

                        <p class="item-description">{{ product.short_desc }}</p>
                    </div>
                    <div class="basketbuttons">
                        <button onclick="addToBasket(event, {{ product.id }})" tabindex="2" class="btn btn-addtobasket">Add to basket</button>
                        {% if product.id|string in session.get("basket", ()) %}
                            <button onclick="addToBasket(event, {{ product.id }})" tabindex="2" class="btn btn-removefrombasket">Remove from basket</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
