{% extends "accountpage.html" %}

{% block sidebar %}
    <a href="" class="selected">Account</a>
    <a href="">Past orders</a>
{% endblock %}

{% block section %}
    <h1>Account Settings</h1>

    <section>
        <h2>Change Password</h2>

        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
                {%- for msg in errors %}
                <div class="errormsg">{{ msg }}</div>
                {% endfor -%}
        {% endif %}
        {% endwith %}

        {% with errors = get_flashed_messages(category_filter=["success"]) %}
        {% if errors %}
                {%- for msg in errors %}
                <div class="goodmsg">{{ msg }}</div>
                {% endfor -%}
        {% endif %}
        {% endwith %}

        <form action='{{ url_for("main.post_change_password") }}' method="post" class="longform">
            <span id="password-error" class="errormsg"></span>
            <label for="new-password">New Password</label>
            <input type="password" name="new-password" id="new-password" class="input">

            <label for="new-password-confirm">Confirm New Password</label>
            <input type="password" name="new-password-confirm" id="new-password-confirm" class="input">

            <button class="btn" type="submit">Change Password</button>
        </form>
    </section>
{% endblock %}