{% extends "base.html" %}
{% block main %}
<main>
    <div class="indented">
        <div class="search-container">
            <form class="search-wrapper" action="/products">
                <input type="text" name="search" id="searchInput" class="search">
                <button class="btn search">Search</button>
            </form>
        </div>

        <div class="item-info">
            <div class="item-header row">
                <img src='{{ url_for("static", filename="img/" + product.image )}}' alt="" class="item-img">

                <div class="column">
                    <h1 class="item-name">{{ product.name }}</h1>
                    <p>£{{ product.price }}</p>
                    <div class="basketbuttons">
                        <button onclick="addToBasket(event, {{ product.id }})" class="btn btn-addtobasket">Add to basket</button>
                    </div>
                </div>
            </div>

            <div class="item-description">
                <p>{{ product.short_desc }}</p>
                <p>{{ product.long_desc }}</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
